# ======================
# Node & Express
# ======================
node_modules/
.env

# ======================
# Expo / React Native
# ======================
.expo/
dist/
web-build/

# ======================
# Logs
# ======================
npm-debug.log*
yarn-error.log*

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db


# node
node_modules/
.env

# Expo
.expo/
dist/

# OS
.DS_Store

# Logs
npm-debug.log*
yarn-error.log*
